@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);

* {
  font-family: 'Alegreya', serif;
}

.char-sheet {
  box-sizing:border-box;

  width: 8.3in;
  height: 11.5in;

  margin-top: 0.5cm;
  page-break-after: always;
}


